Django==1.8.16
Jinja2==2.9.5
Markdown==2.0.3
MarkupSafe==0.23
MySQL-python==1.2.3rc1
PIL==1.1.7
Pillow==2.6.1
PyXML==0.8.4
PyYAML==3.10
ZSI==2.0
argparse==1.2.1
arrow==0.10.0
binaryornot==0.4.0
boto==2.6.0
chardet==2.3.0
click==6.7
cookiecutter==1.5.1
docutils==0.10
elementtree==1.2.7-20070827-preview
future==0.16.0
gevent==1.1.2
greenlet==0.4.10
html5lib==0.90
jinja2-time==0.2.0
lxml==3.3.6
mercurial==2.1
pbr==1.9.1
poyo==0.4.0
psutil==0.6.1
psycopg2==2.6
pycairo==1.8.4
pycrypto==2.6.1
pydot==1.0.28
pymongo==3.4.0
pyparsing==1.5.5
pysqlite==2.6.3
python-Levenshtein==0.10.2
python-dateutil==2.6.0
python-ldap==2.4.10
python-memcached==1.45
python-openid==2.2.5
reportlab==2.5
selenium==3.0.2
simplejson==2.0.9
six==1.7.3
stevedore==1.1.0
unicodecsv==0.14.1
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
whichcraft==0.4.0
wsgiref==0.1.2
